# Flutter
.dart_tool/
.packages
.pub-cache/
.pub/
build/
flutter_*.png

# Android
*.iml
.gradle/
local.properties
*.keystore
*.jks
/captures/
/gradlew
/gradlew.bat
/android/key.properties

# iOS
ios/Pods/
ios/Runner.xcworkspace
ios/.generated/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.symlinks/
/ios/Flutter/Generated.xcconfig

# macOS
macos/Flutter/GeneratedPluginRegistrant.swift
macos/Pods/
macos/Runner.xcworkspace
.DS_Store

# Web
web/.dart_tool/
web/build/

# VS Code
.vscode/

# IntelliJ / Android Studio
.idea/

# Others
*.log
*.tmp
*.lock
*.swp
